{# Prestatire Details  #}
{% extends '/prestataire/layoutPrestataire.html.twig' %}

{% block details %}

    <div class=document-title">
        <h1>Prestataire</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="post" style="margin-bottom: 15px">
                <div class="post-image">
                    {% if prestataire[0].logo is not empty %}
                    <div class="col-sm-6">
                        <div class="posts">
                            <div class="post" style="margin-bottom: 15px">
                                <div class="post-image">
                                    <div class="" style="background-image: url({{ prestataire[0].logo.image }});">
                                        {% else %}
                                        <div class=""
                                             style="background-image: url({{ asset('assets/img/tmp/detail-banner-1.jpg') }});">
                                            {% endif %}

                                            <div>
                                                <h2 class="detail-title">
                                                    {{ prestataire[0].name }}
                                                </h2>
                                                <div class="post-image">
                                                    {% for s in prestataire[0].services %}
                                                        <a href="{{ path('serviceDetails',{'slug':s.slug}) }}">
                                                            <div class="detail-label">{{ s.name }}</div>
                                                        </a>
                                                    {% endfor %}
                                                </div><!-- /.detail-banner-info -->

                                                <div class="">
                                                    <i class="fa fa-map-o"></i>{{ prestataire[0].addressRue }} {{ prestataire[0].addressNumber }}
                                                    ,
                                                    {% if prestataire[0].codePostal is not empty %} {{ prestataire[0].codePostal.codePostal }}{% endif %}
                                                    {% if prestataire[0].commune is not empty %}{{ prestataire[0].commune.commune }}{% endif %}
                                                </div><!-- /.detail-banner-address -->
                                            </div><!-- /.detail-banner-left -->
                                        </div><!-- /.container -->
                                    </div><!-- /.detail-banner -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-row">
                        <table id="services" class="table table-striped">
                            <tr>
                                <th>service</th>
                                <th>description</th>
                                <th>Web Site </th>
                            </tr>
                            {% if prestataire[0].services is empty %}
                                <tr>
                                    <td class="">No service found for this prestataire</td>
                                </tr>
                            {% else %}
                                {% for service in prestataire[0].services %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('detailsPrestataire', {'slug':prestataire[0].slug}) }}">
                                                {{ service.name }}
                                            </a>
                                        </td>
                                        <td>{{ service.description }}</td>
                                        <td>
                                            <a href="{{ prestataire[0].website }}">{{ prestataire[0].website }}</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div><!-- /.container -->
            </div><!-- /.container -->
        </div>
    </div>
{% endblock %}