{# Details on a prestataire #}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="main">
    <div class="main-inner">
        <div class="document-title">
            <h1>Prestataire</h1>
        </div>
        <div class="content">
            <div class="mt-80 mb80">
                {% if prestataire.logo is not empty %}
                <div class="detail-banner" style="background-image: url({{ prestataire.logo.image }});">
                    {% else  %}
                    <div class="detail-banner" style="background-image: url({{asset('assets/img/tmp/detail-banner-1.jpg')}});">
                        {% endif %}
                        <div class="container">
                            <div class="detail-banner-left">
                                <div class="detail-banner-info">
                                    {% for s in prestataire.categories %}
                                        <a href="{{ path('detail_service',{'slug':s.slug}) }}"><div class="detail-label">{{ s.nomcat }}</div></a>
                                    {% endfor %}
                                </div><!-- /.detail-banner-info -->

                                <h2 class="detail-title">
                                    {{ prestataire.nom }}
                                </h2>
                                <div class="detail-banner-address">
                                    <i class="fa fa-map-o"></i>{{ prestataire.adresseRue }} {{ prestataire.adresseNum }},
                                    {% if prestataire.codePostal is not empty %} {{ prestataire.codePostal.CodePostal }}{% endif %}
                                    {% if prestataire.commune is not empty %}{{ prestataire.commune.Commune }}{% endif %}
                                </div><!-- /.detail-banner-address -->
                            </div><!-- /.detail-banner-left -->
                        </div><!-- /.container -->
                    </div><!-- /.detail-banner -->

                </div>

                <div class="container">
                    <div class="row detail-content">
                        <div class="col-sm-7">
                            {% include 'extension/galerie.html.twig' %}

                            <h2>Carte</h2>
                            <div class="background-white p20">

                                {% include 'extension/googlemap.html.twig' %}

                            </div>

                        </div><!-- /.col-sm-7 -->

                        <div class="col-sm-5">

                            <h2>Fiche Prestataire</h2>
                            <div class="background-white p20">
                                <div class="detail-vcard">
                                    <div class="detail-logo">
                                        {% if prestataire.logo is not empty %}
                                            <img src="{{ prestataire.logo.image }}">
                                        {% else %}
                                            <img src="{{ asset('assets/img/tmp/prestataire-logo.png') }}">
                                        {% endif %}
                                    </div><!-- /.detail-logo -->

                                    <div class="detail-contact">
                                        <div class="detail-contact-email">
                                            <i class="fa fa-envelope-o"></i> {{ prestataire.emailContact }}
                                            {% if is_granted('ROLE_USER') %}
                                                <a href="{{ path('prestataire_contact', {'slug':prestataire.slug}) }}" style="color: red;">
                                                    <button class="btn-md" style="border: 1px solid red">Contact us</button>
                                                </a>
                                            {% endif %}
                                        </div>

                                        <div class="detail-contact-phone">
                                            <i class="fa fa-mobile-phone"></i> <a href="tel:{{ prestataire.telNumber }}">{{ prestataire.telNumber }}</a>
                                        </div>
                                        <div class="detail-contact-website">
                                            <i class="fa fa-globe"></i> <a href="{{ prestataire.website }}" target="_blank">{{ prestataire.website }}</a>
                                        </div>
                                        <div class="detail-contact-address">
                                            <i class="fa fa-map-o"></i>
                                            {{ prestataire.adresseRue }} {{ prestataire.adresseNum }}<br>
                                            {% if prestataire.codePostal is not empty %}{{ prestataire.codePostal.CodePostal }}{% endif %},
                                            {% if prestataire.commune is not empty %}{{ prestataire.commune.Commune }}{% endif %}
                                        </div>
                                    </div><!-- /.detail-contact -->
                                </div><!-- /.detail-vcard -->
                            </div>
                        </div><!-- /.col-sm-5 -->

                        {% include 'prestataire/services/prestataireservices.html.twig' %}

                        {% include 'prestataire/stages/prestatairestages.html.twig' %}

                        {% include 'prestataire/commentaires/prestatairecommentaires.html.twig' %}

                        {% include 'prestataire/promotions/prestatairepromotions.html.twig' %}

                    </div><!-- /.review -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}