{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prestataires list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Web</th>
            <th>Emaildecontact</th>
            <th>Telephone</th>
            <th>Numerotva</th>
            <th>Logo</th>
            <th>Dateinscription</th>
            <th>Slug</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for prestataire in prestataires %}
            <tr>
                <td><a href="{{ path('prestataire_show', { 'id': prestataire.id }) }}">{{ prestataire.id }}</a></td>
                <td>{{ prestataire.name }}</td>
                <td>{{ prestataire.description }}</td>
                <td>{{ prestataire.website }}</td>
                <td>{{ prestataire.email }}</td>
                <td>{{ prestataire.telnumber }}</td>
                <td>{{ prestataire.tvanumber }}</td>
                <td>{{ prestataire.image }}</td>
                <td>{% if prestataire.inscriptiondate %}{{ prestataire.inscriptiondate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ prestataire.slug }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('prestatairelist', { 'id': prestataire.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('modifyprestataire', { 'id': prestataire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prestataire_new') }}">Create a new prestataire</a>
        </li>
    </ul>
{% endblock %}
