{% extends 'base.html.twig' %}

{% block title %}Just a selected list of Services !{% endblock %}

{% block body %}
    {% block container %}

        <div class="page-wrapper">
            <div class="main-inner">
                <div class="container">
                    <div class="content">

                        <div class="document-title">
                            <h1>Just a selected list of Services !</h1>

                            <ul class="breadcrumb">
                                <li><a href="#">Prestataires</a></li>
                                <li><a href="#">Leurs services</a></li>
                            </ul>
                        </div><!-- /.document-title -->


                        <form class="filter" method="post" action="?">
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <input type="text" placeholder="Keyword" class="form-control">
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" title="Select Location">
                                            <option>Health Booster</option>
                                            <option>Aquagym</option>
                                            <option>Health Sitter</option>
                                            <option>Lotus Bleu Island</option>
                                            <option>Willness Queens</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" title="Select Category">
                                            <option value="">Dancing motion</option>
                                            <option value="">Health standing</option>
                                            <option value="">Bien-être</option>
                                            <option value="">Massage</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->

                            <hr>

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="filter-actions">
                                        <a href="#"><i class="fa fa-close"></i> Reset Filter</a>
                                        <a href="#"><i class="fa fa-save"></i> Save Search</a>
                                    </div><!-- /.filter-actions -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-primary">Redefine Search Result</button>
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->
                        </form>


                        <h2 class="page-title">
                            1802 results matching your query

                            <form method="get" action="?" class="filter-sort">
                                <div class="form-group">
                                    <select title="Sort by">
                                        <option name="service">service</option>
                                        <option name="prestataire">prestataire</option>
                                        <option name="localite">localite</option>
                                    </select>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <select title="Order">
                                        <option name="ASC">Asc</option>
                                        <option name="DESC">Desc</option>
                                    </select>
                                </div><!-- /.form-group -->
                            </form>
                        </h2><!-- /.page-title -->
                        {% include("/service/list/prestaList.html.twig") %}
                        <div class="cards-row">
                            <table class="table-striped">
                                <tr class="bg-success">
                                    <th>id</th>
                                    <th>nom</th>
                                    <th>Description</th>
                                    <th>Mis En Avant</th>
                                    <th>Valide</th>
                                    <th>Image</th>
                                    <th>details</th>
                                </tr>

                                {% for serv in service %}
                                    <tr class="row">
                                        <td>
                                            {{ serv.id }}
                                        </td>
                                        <td>
                                            {{ serv.name }}
                                        </td>
                                        <td>
                                            {{ serv.description }}
                                        </td>

                                        <td>
                                            {{ serv.EnAvant }}
                                        </td>
                                        <td>
                                            {{ serv.Image }}
                                        </td>
                                        <td class="bg-light navbar-btn">
                                            <a href="{{ path('services_details', {'id':id}) }}" class="card-link">check details</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>

                        </div><!-- /.cards-row -->


                        <div class="pager">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">5</a></li>
                                <li class="active"><a>6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div><!-- /.pagination -->


                    </div><!-- /.content -->
                </div><!-- /.container -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->
    {% endblock %}
{% endblock %}