{% extends 'base.html.twig' %}
{% block body %}
    <div class="content">

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="page-title">
                    <hr>
                    <h1>Registration</h1>
                    <hr>
                </div>

                {{ form_start(form) }}

                <form method="post" action="">
                    <div class="">
                        <div class="col-md-5 form-group">
                            {{ form_row(form.name, {'label':'Last Name','attr':{'placeholder':'Your last name'}}) }}
                            {{ form_row(form.email) }}
                        </div><!-- /.form-group -->

                        <div class="col-md-5 form-group ">
                            {{ form_row(form.password) }}
                            {{ form_row(form.confirmPassword) }}
                            {{ form_row(form.successAttempt) }}
                        </div><!-- /.form-group -->


                        <div class="col-md-5 form-group ">
                            {{ form_row(form.website) }}
                            {{ form_row(form.telnumber) }}
                        </div><!-- /.form-group -->

                        <div class="col-md-5 form-group ">
                            {{ form_row(form.addressRue) }}
                            {{ form_row(form.addressNumber) }}
                        </div><!-- /.form-group -->

                        <div class="col-md-5 form-group ">
                            {{ form_row(form.localite) }}
                            {{ form_row(form.codepostal) }}
                        </div><!-- /.form-group -->

                        <div class="col-md-5 form-group ">
                            {{ form_row(form.commune) }}
                        </div><!-- /.form-group -->

                        <div class="col-md-5 form-group ">
                            {{ form_row(form.image) }}
                            {{ form_row(form.logo) }}
                        </div><!-- /.form-group -->

                        <div class="col-md-5 form-group ">
                            {{ form_row(form.inscriptionDate) }}
                            {{ form_row(form.inscription) }}
                        </div><!-- /.form-group -->
                        <div class="col-md-5 form-group ">
                            {{ form_row(form.banni) }}
                            {{ form_row(form.slug) }}
                        </div><!-- /.form-group -->

                        <div class="col-md-5 form-group ">
                            {{ form_row(form.tvanumber) }}
                        </div><!-- /.form-group -->
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-xs pull-right">Register
                        </button>
                    </div>
                </form>
                {{ form_end(form) }}
            </div>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->


{% endblock %}